@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center;
}